.newArea{
  position: absolute;
  min-height: 60px;
  min-width: 150px;
  z-index: 0;
}

.outlineArea{
  height: 10px;
  min-width: 150px;
  z-index: 0;
}

.contentArea{
  margin: 5px 5px;
  font-size: 14.6666px;  
  min-height: 60px;
  min-width: 150px;
  overflow: hidden;
}