button{
    border: none;
    background: none;
    cursor: pointer;
    text-align: center;
    border-radius: 1px;
    margin: 10px;
}

button:hover{
    background-color: #DCDCDC;
}

select{
    margin: 10px;
}