.footer{
    background-color:#a16f52;
    padding: 20px 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;

    @media screen and (min-width: 736px) {
        justify-content: flex-start;
        .contactInfo{
            padding-left: 40px
        }

        .links{
            padding-left: 300px;
        }
    }

    *{
        color: white;
    }
}

h4{
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 0
}

