.Gallery{
    z-index: -111;
    display: flex;
    overflow: hidden;

    @media screen and (min-width:736px){
        height: 100vh;
    }

    #animeCover{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100vw;
        transition: 0.3s;
    }

    img{
        width: 100vw;
        z-index: 0;
        height: auto;
        display: fl;
        animation: fade 1.5s;
        -webkit-animation: fade 1.5s;
    }
}


#r2:checked ~ #animeCover{
    margin-left: -100vw;
}