.Gallery{
    width: 100vw;
    height: 100%;
    z-index: -111;
    overflow: hidden;

    img{
        width: 100%;
        z-index: 0;
        height: auto;
        display: none;
        animation: fade 1.5s;
        -webkit-animation: fade 1.5s;
    }

    @media screen and (min-width:736px){
        height: 100vh;
    }

    @-webkit-keyframes fade {
        from {opacity: 0.4}
        to {opacity: 1}
      }

    @keyframes fade {
        from{opacity: 0.4;}
        to{opacity: 1;}
    }
}